<!DOCTYPE html>
<html>
<head>
  <title>Politicshq</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<section id="site-header">	
	<div class="site-header-image">
		<div class="site-branding-wrapper">
			<div class="site-branding">
				<div class="row">
					<div class="col-lg-12">
						<%= link_to image_tag('politicscheckhq.png', class: 'img-logo'), root_path %>
						<hr>
						<nav id="main-menu" role="navigation">
							<div class="menu-wrapper">
								<ul class="menu">
									<li class=""><%=link_to "Home", root_path %></li>
								</ul>
							</div>
						</nav>
						<h1 class="white">Your Political News From Every Point of View</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%= yield %>

<% if notice %>
<%= notice %>
<% end %>

</body>
</html>
